<div ng-include="'/views/styleguide/sidebar.html'" include-replace></div>

<div class="site-main">

    <div class="section-header">
        <h1 class="header-title">
            Icons
        </h1>
        <div class="header-description">
            Individual icons are SVG files compiled into an icon font.
        </div>
    </div>

    <div class="section">

        <ul class="icon-list">
        <% glyphs = _.sortBy(glyphs, 'name'); %>
        <% _.each(glyphs, function(glyph) { %>
            <li>
                <i class="icon icon-<%= glyph.name %>"></i>
                <span><%= glyph.name %></span>
            </li>
        <% }); %>
        </ul>
    </div>
</div>

<style>
.icon-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.icon-list li {
    padding: 10px;
    float: left;
    height: auto;
    vertical-align: middle;
}
.icon-list .icon {
    color: #444;
    display: inline-block;
    font-size: 1.3em;
    width: 2em;
}

@media (min-width: 1201px) { .icon-list li { width: 25%; } }
@media (max-width: 1200px) { .icon-list li { width: 33.333%; } }
@media (max-width: 800px) { .icon-list li { width: 50%; } }
@media (max-width: 574px) { .icon-list li { width: 100%; } }
</style>