{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Docusign - {% block title %}{% endblock %}</title>
        <script src="http://cdn.kendostatic.com/2014.3.1411/js/jquery.min.js"></script>
        <script src="http://cdn.kendostatic.com/2014.3.1411/js/kendo.all.min.js"></script>
        <link type="text/css" rel="stylesheet" href="{% static "css/olive-0-0-15.min.css" %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="{{ STATIC_PREFIX }}css/all.min.css">
        <!--<link type="text/css" rel="stylesheet" href="{{ STATIC_PREFIX }}css/trust.css">-->
        <script typeof="text/javascript" src="{{ STATIC_PREFIX }}js/trust.users.js"></script>
    </head>

    <body>
        <div>

            <header>
                <!--<div id="to-dsnet-link-row">-->
                    <!--<div class="container">-->
                        <!--<div class="row" id="to-dsnet-link-row">-->
                            <!--&lt;!&ndash;<div class="col-sm-12 text-right">&ndash;&gt;-->
                                <!--&lt;!&ndash;<a href="https://www.docusign.net/">Go to DocuSign.net</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <div id="login-logo-row">
                    <div class="container">
                        <div id="ds-csp-logo" class="text-center">
                            <img src="{% static "img/header/logo.png" %}">
                                <!--<p>Support Center</p>-->
                        </div>
                        <div class="row" id="login-row">
                            <p style="float:right;font-size: 22px; line-height: 30px"><i class="icon icon-trustcenter"></i>
                                <span>trustcenter</span></p>
                            <div class="text-right">
                                {% block login_logout_block %}
                                    <p>&nbsp;</p>
                                    <p>&nbsp;</p>
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            {% block article-tag %}<article>{% endblock %}

                {% block error-container %}{% endblock %}

                <div class="container">

                    {% if messages %}
                        <div class="row">
                            <div class="col-xs-12">
                                <ul class="messages">
                                    {% for message in messages %}
                                        <li
                                            {% if message.tags %}
                                                class="{{ message.tags }}"
                                            {% endif %}
                                        >{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}

                    {% block content %}{% endblock %}
                </div>

                {% block templates %}{% endblock %}

            </article>

            {% include "docusign/footer.html" %}

        </div>

    </body>
</html>
