
        <footer>
            <div class="container" id="ds-info">
                <div class="row">
                    <div class="col-sm-5">
                        <p>
                            &copy; Docusign Inc. 2003-<script>document.write( (new Date()).getFullYear() )</script><br>
                            221 Main Street, Suite 1000, San Francisco, CA 94105, United States<br>
                            General Inquires: 866.219.4318 | Sales: 887.720.2040<br>
                            DocuSign Patents: US 8,239,496 B2
                        </p>
                    </div>
                    <div class="col-sm-4 col-sm-offset-3"></div>
                </div>
            </div>
            <div class="container" id="ds-footer-links">
                <div class="row">
                    <div class="col-sm-5">
                        <!--ul class="flat-list">
                            <li><a href="//www.docusign.com/company/terms-of-use">Terms of Use</a></li>
                            <li><a href="//www.docusign.com/company/privacy-policy">Privacy Policy</a></li>
                        </ul-->
                    </div>
                </div>
            </div>
        </footer>
