{% extends "docusign/base.html" %}

{% block content %}

<div id="filterMenu" class="site-sidebar ng-scope osm osm-right">

    <div id="userList"></div>
        <div id="userInfo"></div>
</div>
        <div id="idCard">
            <dl>
                <dt></dt>
                <dd><b>User Name</b>: Joh doe</dd>
                <dd><b>IDe</b>: 0937e</dd>

            </dl>
            <div id="score">
               <p>100</p>
            </div>

        </div>
{% endblock %}

